<div class="row">
    <!-- SM MD LG -->
    <div class="hidden-xs hidden-sm col-md-2" id="tutorial-sidemenu">
        <div class="page-header">
            <h1 class="titles-blue">Men&uacute;</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#page1">¿Cómo pagar cuenta premium?</a></li>
            <li class="list-group-item"><a href="#page2">¿Puedo tener asociados en mi cuenta?</a></li>
            <li class="list-group-item"><a href="#page3">¿Cómo solicitar una asesoría?</a></li>
            <li class="list-group-item"><a href="#page4">¿Cómo puedo certificarme?</a></li>
        </ul>
    </div>

    <div class="col-md-offset-3 col-md-9">
        <div class="page-header">
            <h1 class="titles-blue"> Preguntas frecuentes</h1>
        </div>
        <!-- 		<div class="versions">
<span class="label label-primary">Categoria y Version</span>
</div> -->

        <!-- XS -->
        <h6 style="font-size:7px !important;" class="visible-xs">
            <div class="ui top attached tabular menu visible-xs" align="center">
                <a class="active item" data-tab="pago">Pago</a>
                <a class="item" data-tab="asociados">Asociados</a>
                <a class="item" data-tab="asesoria"> Asesoria </a>
                <a class="item" data-tab="certificar">Certificarme </a>
            </div>
        </h6>

        <br />
        <div class="ui bottom attached active tab segment" data-tab="pago">
            <div class="jumbotron visible-xs">
                <h3>¿Cómo pagar cuenta premium?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lacinia lorem, a sodales leo. Nam facilisis hendrerit massa aliquet blandit. Curabitur mattis lectus ut facilisis posuere. Fusce tempor consectetur risus, vitae varius erat faucibus quis. Suspendisse at mauris nibh. Donec eu pharetra elit. Integer accumsan augue eu arcu tincidunt, vel gravida sapien consectetur. Proin malesuada porttitor enim, quis iaculis velit scelerisque vel. In tincidunt libero quis dolor pretium volutpat. Ut ac magna sodales libero semper imperdiet. Fusce non ante vitae lectus sodales molestie. Nam et justo purus. Aliquam hendrerit lorem libero, non rutrum sapien sollicitudin at. Sed sed eros auctor, cursus tellus hendrerit, facilisis est. Curabitur eget consectetur libero.</p>
            </div>
        </div>

        <div class="ui bottom attached tab segment" data-tab="asociados">
            <div class="visible-xs jumbotron">
                <h3><%= "Titulo de Pagina" %></h3>
                <p><%= raw "contenido" %></p>
            </div>
        </div>	


        <div class="ui bottom attached tab segment" data-tab="asesoria">			
            <div class="visible-xs jumbotron">
                <h3>¿Puedo tener asociados en mi cuenta?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lacinia lorem, a sodales leo. Nam facilisis hendrerit massa aliquet blandit. Curabitur mattis lectus ut facilisis posuere. Fusce tempor consectetur risus, vitae varius erat faucibus quis. Suspendisse at mauris nibh. Donec eu pharetra elit. Integer accumsan augue eu arcu tincidunt, vel gravida sapien consectetur. Proin malesuada porttitor enim, quis iaculis velit scelerisque vel. In tincidunt libero quis dolor pretium volutpat. Ut ac magna sodales libero semper imperdiet. Fusce non ante vitae lectus sodales molestie. Nam et justo purus. Aliquam hendrerit lorem libero, non rutrum sapien sollicitudin at. Sed sed eros auctor, cursus tellus hendrerit, facilisis est. Curabitur eget consectetur libero. </p>
            </div>	
        </div>		

        <div class="ui bottom attached tab segment" data-tab="certificar">			
            <div class="visible-xs jumbotron">
                <h3>¿Cómo solicitar una asesoría?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lacinia lorem, a sodales leo. Nam facilisis hendrerit massa aliquet blandit. Curabitur mattis lectus ut facilisis posuere. Fusce tempor consectetur risus, vitae varius erat faucibus quis. Suspendisse at mauris nibh. Donec eu pharetra elit. Integer accumsan augue eu arcu tincidunt, vel gravida sapien consectetur. Proin malesuada porttitor enim, quis iaculis velit scelerisque vel. In tincidunt libero quis dolor pretium volutpat. Ut ac magna sodales libero semper imperdiet. Fusce non ante vitae lectus sodales molestie. Nam et justo purus. Aliquam hendrerit lorem libero, non rutrum sapien sollicitudin at. Sed sed eros auctor, cursus tellus hendrerit, facilisis est. Curabitur eget consectetur libero.  </p>
            </div>
        </div>	





        <!-------------------------------------------------------------------------------------------------------------------------------- XS -------------------------------------------------------------------------------------------------------------------------------------------  -->

        <br />
        <div class="jumbotron hidden-xs" id="page1" data-tab="pago">			
            <h3>¿Cómo pagar cuenta premium?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lacinia lorem, a sodales leo. Nam facilisis hendrerit massa aliquet blandit. Curabitur mattis lectus ut facilisis posuere. Fusce tempor consectetur risus, vitae varius erat faucibus quis. Suspendisse at mauris nibh. Donec eu pharetra elit. Integer accumsan augue eu arcu tincidunt, vel gravida sapien consectetur. Proin malesuada porttitor enim, quis iaculis velit scelerisque vel. In tincidunt libero quis dolor pretium volutpat. Ut ac magna sodales libero semper imperdiet. Fusce non ante vitae lectus sodales molestie. Nam et justo purus. Aliquam hendrerit lorem libero, non rutrum sapien sollicitudin at. Sed sed eros auctor, cursus tellus hendrerit, facilisis est. Curabitur eget consectetur libero.</p>		  		  
        </div>
        <br />


        <div class="jumbotron hidden-xs" id="page2" data-tab="asociados">
            <h3><%= "Titulo de Pagina" %></h3>
            <p><%= raw "contenido" %></p>
        </div>	

        <br />
        <div class="jumbotron hidden-xs" id="page3" data-tab="certificar">
            <h3>¿Puedo tener asociados en mi cuenta?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lacinia lorem, a sodales leo. Nam facilisis hendrerit massa aliquet blandit. Curabitur mattis lectus ut facilisis posuere. Fusce tempor consectetur risus, vitae varius erat faucibus quis. Suspendisse at mauris nibh. Donec eu pharetra elit. Integer accumsan augue eu arcu tincidunt, vel gravida sapien consectetur. Proin malesuada porttitor enim, quis iaculis velit scelerisque vel. In tincidunt libero quis dolor pretium volutpat. Ut ac magna sodales libero semper imperdiet. Fusce non ante vitae lectus sodales molestie. Nam et justo purus. Aliquam hendrerit lorem libero, non rutrum sapien sollicitudin at. Sed sed eros auctor, cursus tellus hendrerit, facilisis est. Curabitur eget consectetur libero. </p>	
        </div>
        <br />

        <div class="jumbotron hidden-xs" id="page4">			
            <h3>¿Cómo solicitar una asesoría?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis lacinia lorem, a sodales leo. Nam facilisis hendrerit massa aliquet blandit. Curabitur mattis lectus ut facilisis posuere. Fusce tempor consectetur risus, vitae varius erat faucibus quis. Suspendisse at mauris nibh. Donec eu pharetra elit. Integer accumsan augue eu arcu tincidunt, vel gravida sapien consectetur. Proin malesuada porttitor enim, quis iaculis velit scelerisque vel. In tincidunt libero quis dolor pretium volutpat. Ut ac magna sodales libero semper imperdiet. Fusce non ante vitae lectus sodales molestie. Nam et justo purus. Aliquam hendrerit lorem libero, non rutrum sapien sollicitudin at. Sed sed eros auctor, cursus tellus hendrerit, facilisis est. Curabitur eget consectetur libero.  </p>
        </div>	

    </div>

    <%= link_to contact_publics_path do %>
    <button class="btn btn-danger btn-lg show-contact" data-toggle="modal" data-target="#write-comment-modal">
        <i class="glyphicon glyphicon-envelope"></i>
    </button>
    <% end %>




</div>

<script>	
    $('.menu .item').tab();
</script>