<nav class="" id= "footer" style="border-top: 1px solid #CCC;">
    <div class="col-sm-offset-6 col-sm-2 col-xs-5" >
        <div class="ui vertical buttons">

            <a href="<%= publics_about_us_path %>" class="ui inverted blue button" style="margin-top: 10px;">Quiénes Somos</a>
            <a href="<%= publics_faq_path %>" class="ui inverted yellow button" style="margin-top: 10px;">Preguntas Frecuentes</a>
            <a href="<%= contact_publics_path %>" class="ui inverted orange button" style="margin-top: 10px;">Contacto</a>
        </div>
    </div>
    <div class="col-sm-2 col-xs-3">
        <%= image_tag "logo-white-bg.png", class:"logo-footer" %>
        <%#= image_tag "logo-white.png", style: "width: 100%;"%>
</div>
    <div class="col-sm-1 col-xs-2">
            <%#= image_tag "beta.png", style: "width: 100%; margin-top: 140%;"%>
        <%= image_tag "beta.png", class:"beta-footer",style: "margin-top: 100px;"%>
    </div>
    <!--  -->
</nav>



<!-- <div class="col-xs-3 visible-xs" style="padding-top: 3%;">		 -->
<%#= link_to "Quiénes Somos", publics_about_us_path, style: "color: #ffffff;" %><br /><br />
        <%#= link_to "Preguntas Frecuentes", publics_faq_path, style: "color: #ffff00;" %><br /><br />
        <%#= link_to "Contacto", contact_publics_path, style: "color: #ff6600;" %>
        <!-- </div> -->