<nav class="" id= "footer" style="border-top: 1px solid #CCC;">
	<div class="col-sm-offset-6 col-sm-2 col-xs-5" >
    	<div class="ui vertical buttons">
		    <%= link_to "Quiénes Somos", "/publics/about_us", class: "ui inverted blue button", style: "margin-top: 10px;"%> 	    
		    <%= link_to "Preguntas Frecuentes", "/publics/faq", class: "ui inverted yellow button", style: "margin-top: 10px;"  %>	
		    <%= link_to "Contacto", "/publics/contact", class: "ui inverted orange button", style: "margin-top: 10px;" %>
		</div>
	</div>
	<div class="col-sm-2 col-xs-3">
		<%= image_tag "logo-white-bg.png", class:"logo-footer" %>
		<%#= image_tag "logo-white.png", style: "width: 100%;"%>
	</div>
	<div class="col-sm-1 col-xs-2">
		<%#= image_tag "beta.png", style: "width: 100%; margin-top: 140%;"%>
		<%= image_tag "beta.png", class:"beta-footer",style: "margin-top: 100px;"%>
	</div>
	<!--  -->
</nav>
