<!DOCTYPE html>
<html>
  <head>
    <title>HolaMundo</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
		<br /><br /><br /><br />
    <div class="container forem-cont">
      	<div class="row">
			<div class="col-md-8">
			    <% flash.each do |k,v| %>
			      <div class=' alert alert-warning flash <%= k %>'><%= v %></div>
			    <% end %>
			    <%= yield %>
			</div>
      	</div><!--/row-->
    </div> <!-- /container -->

    <script>
			CodigoEs.init();
		</script>
  </body>
</html>
